# Configuración Kimi
TYPE_LLM=openai
KIMI_API_KEY=sk-tu-api-key-real-de-kimi
KIMI_BASE_URL=https://api.moonshot.cn/v1
KIMI_NAME=LLM Name (Orquestador)

# Configuración DeepSeek
DEEPSEEK_API_KEY=sk-tu-api-key-real-de-deepseek
DEEPSEEK_BASE_URL=https://api.deepseek.com
DEEPSEEK_NAME=LLM Name (Trabajador)

MODEL=kimi/kimi-k3
SMALL_MODEL=deepseek/deepseek-v4-flash