@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :focus-visible {
    outline: 2px solid theme('colors.brand.600');
    outline-offset: 2px;
  }

  a {
    color: theme('colors.link.DEFAULT');
    text-decoration-line: underline;
  }
  a:hover {
    color: theme('colors.link.hover');
  }
  a:active {
    color: theme('colors.link.active');
  }
  a:visited {
    color: theme('colors.link.visited');
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
}
